<h1>About</h1>
This is a simple music player made by <b><a href="https://github.com/powerreddude">Donnis Moore</a></b> 
<br>
<br>
<i>
    I needed a way to play my music library on any device on my local network that wasn't "bloated".
    It's not meant to replace any online music app but work as an alternative for when you have something obscure
    you'd love to listen to anywhere. Feel free to check this project out on github and contribute at 
    <b><a href="https://github.com/powerreddude/Player_php">Player_php</a></b>
</i>